@model IEnumerable<AppData.Models.KhachHang>

@{
    ViewData["Title"] = "ShowAllKhachHang";
}

<h1>ShowAllKhachHang</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idkh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdnguoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idkh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdnguoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
